/***************GENERAL***************/
.root {
	-fx-font-family: 'Press Start 2P';
}

.button {
	-fx-font-size: 12px;
	-fx-text-fill: #84ff00;
	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.split-pane-divider {
   -fx-background-color: transparent;
   -fx-padding: 0 1 0 1;
   -fx-padding: 1 0 1 0;
}

/***************STARTPANE***************/

#welcomePane {
	-fx-background-image: url("Images/UI/startPane.png");
	-fx-background-repeat: stretch;   
	-fx-background-position: center center; 
	-fx-min-height: 900;
	-fx-max-height: 900;
	-fx-min-width: 700;
	-fx-max-width: 700;
}

#welcomeButton {
	-fx-font-size: 16px;
	-fx-min-height: 70px;
	-fx-max-width: 300px;
}

/***************PANES UP Left***************/

#leftSplitPane {
	-fx-background-color: #383838;
	-fx-width: 600px;
	-fx-height: 700;
}

#imageSplitPane {
	-fx-background-image: url("Images/UI/UpperBgTwo.png");
	-fx-background-repeat: stretch;   
	-fx-background-position: center center; 
}

#imagePane {
	-fx-background-image: url("Images/UI/imagePane.png");
	-fx-background-repeat: stretch;   
	-fx-background-position: center center; 
	
	-fx-min-height: 350;
	-fx-max-height: 350;
	-fx-min-width: 150;
	-fx-max-width: 150;
}

#textBoxPane {
	-fx-background-image: url("Images/UI/UpperBgOne.png");
}

#textBox {
	-fx-text-fill: #84ff00;
	-fx-min-height: 300;
	-fx-max-height: 300;
	-fx-min-width: 400;
	-fx-max-width: 400;
}

/***************PANES UP RIGHT***************/
#rightSplitPane {
	-fx-background-color: #7cafc2;
	-fx-width: 600px;
	-fx-height: 700;
}

#mapPane {
	-fx-background-image: url("Images/UI/UpperBgThree.png");
	-fx-background-repeat: stretch;   
	-fx-background-position: center center; 
}


/***************PANES DOWN RIGHT***************/
#labelPane {
	-fx-background-image: url("Images/UI/LowerPaneBgThree.png");
	-fx-background-repeat: stretch;   
	-fx-background-position: center center; 
}


/***************PANES DOWN Left***************/
#downLeftSplitPane {
	-fx-background-image: url("Images/UI/LowerPaneBgCombi.png");
	-fx-background-repeat: stretch;   
	-fx-background-position: center center; 
}

#attackPane {
	-fx-background-image: url("Images/UI/LowerPaneBgTwo.png");
	-fx-background-repeat: stretch;   
	-fx-background-position: center center; 
}

#movePane {
	-fx-background-image: url("Images/UI/LowerPaneBgTwo.png");
	-fx-background-repeat: stretch;   
	-fx-background-position: center center; 
	-fx-spacing: 40;
}



/***************LABELS***************/
#statLabel {
	-fx-padding: 5 10 5 5;
	-fx-spacing: 10 10 10 10;
	-fx-font-weight: bold;
	-fx-font-size: 12px;
	-fx-min-width: 150px;
	-fx-text-fill: #84ff00;
	
	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#valueLabel {
	-fx-padding: 5 5 5 10;
	-fx-text-alignment: center;
	-fx-font-size: 10px;
	-fx-min-width: 120px;
	-fx-text-fill: #84ff00;
	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#enemyName {
	-fx-text-fill: #84ff00;
	-fx-text-alignment: center;
	
	-fx-min-height: 50;
	-fx-max-height: 50;
	-fx-min-width: 150;
	-fx-max-width: 150;
}

#welcomeLabelOne {
	-fx-padding: 5 5 5 5;
	-fx-text-alignment: center;
	-fx-font-size: 24px;
	-fx-text-fill: #84ff00;
}

#welcomeLabelTwo {
	-fx-padding: 5 5 5 5;
	-fx-text-alignment: center;
	-fx-font-size: 14px;
	-fx-text-fill: #84ff00;
}

#moveLabel {

	-fx-text-fill: #84ff00;
	-fx-text-alignment: center;
	
	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-size: 12px;
    -fx-padding: 10 10 10 10;
}

/***************TEXT***************/

#statusText{
	-fx-text-fill: #84ff00;
	-fx-padding: 20 20 20 20;
	-fx-font-size: 11px;
}

/***************USELESS BUTTON***************/
#uselessButton {
	-fx-padding: 10 10 10 40;
}
/***************EXIT BOX***************/

#exitBoxLayout {
	-fx-background-image: url("Images/UI/startPane.png");
	-fx-background-repeat: stretch;   
	-fx-background-position: center center; 
}

#exitLabel{
	-fx-padding: 5 5 5 5;
	-fx-text-alignment: center;
	-fx-font-size: 14px;
	-fx-text-fill: #84ff00;
}







